<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icon/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
        <div class="container">
            <a href="/posts/index" class="navbar-brand">
                <i class="bi bi-code">BlogApp</i>
            </a>

            <ul class="navbar-nav">
                @if(User.Identity!.IsAuthenticated)
                {
                <li class="nav-item pl-20">
                    <a href="/posts/list" class="nav-link">Posts List</a>
                </li>
                <li class="nav-item pl-20">
                    <a href="/posts/create" class="nav-link">New Post</a>
                </li>

                }
            </ul>


            <ul class="navbar-nav ms-auto">
                @if(User.Identity!.IsAuthenticated)
                {

                <li class="nav-item">
                    <a href="#" class="nav-link">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link">Logout</a>
                </li>
                }else{
                <li class="nav-item">
                    <a href="/users/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/register" class="nav-link">Register</a>
                </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

</body>
@RenderSection("Scripts",required:false)

</html>