@model List<Post>
    <div class="row">
        <div class="col-12">
            <h2>Post List</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 200px;">Image</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>İsActive</th>
                        <th style="width: 125px;">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td><img src="~/img/@item.Image" alt="" class="img-fluid"></td>
                        <td>@item.PostId</td>
                        <td>@item.Title</td>
                        <td>@item.IsActive</td>
                        <td>
                            <a href="/posts/edit/@item.PostId" class="btn btn-sm btn-primary">Edit</a>
                            <a href="/posts/delete/@item.PostId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @section Scripts
    {

    }